<!-- @discs = Disc.all -->
<br>
<br>
<br>
<br>
<h1>Admins::Tunes#new</h1>

<h4>
<% @discs.each do |d| %>
	<%= form_for @tune, url: admins_product_disc_tunes_path(product_id: @product.id, disc_id: d) do |f| %>
	<table border="1">
			<tr>
				<th>Discのid</th>
				<th>曲名</th>
				<th>アーティスト名</th>
				<th>ジャンル名</th>
				<th></th>
			</tr>
			<tr>
				<td><%= d.id %></td>
				<td><%= f.text_field :title %></td>
				<td><%= f.collection_select :artist_id, Artist.all, :id, :name, :prompt => "選択" %></td>
				<td><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "選択" %></td>
				<td><%= f.submit "Add"%></td>
			</tr>
	</table>
	<%end%>
<%end%>
</h4>
<h4>Top</h4>