<h1>Admins::Tunes#new</h1>

<% @discs.each do |disc| %>
	<%= form_for @tune, url: admins_product_disc_tunes_path(product_id: @product.id, disc_id: disc) do |f| %>
		<h3>曲名</h3>
		<%= f.text_field :title %>

		<h3>アーティスト名</h3>
		<%= f.collection_select :artist_id, Artist.all, :id, :name, :prompt => "選択" %>

		<h3>ジャンル名</h3>
		<%= f.text_field :genre_id %>
		<%= f.submit "submit"%>

		<h3>---------</h3>
	<%end%>
<% end %>
<!-- @discs = Disc.all -->