<h1>ジャンル登録</h1>

<% if flash[:notice] %>
  <div class="flash" style="color: green;">
    <%= flash[:notice] %>
  </div>
<% end %>

<h3><%= form_for [:admins, @genre] do |f| %></h3>
<%= f.text_field :name %>
<%= f.submit '保存' %>
<%end%>

<h3><%= link_to '戻る', admins_genre_path(@genre.id) %></h3>
