<div class="row text-center" style="padding-top: 150px;padding-bottom: 100px;">
<div class="col-lg-3"></div>
<div class="col-lg-6">
<h1>Userの詳細、編集ページだよ</h1>

<%= nested_form_for @user do |f| %>
<table class="table-box">
  <tr>
  <div class="field">
    <td><label for="user_name_family_name">name_family_name</label></td>
    <td><%= f.text_field :name_family_name, class: "name_family_name" %></td>
  </div>
  <div class="field">
    <td><label for="user_name_name">name_name</label></td>
    <td><%= f.text_field :name_name, class: "name_name" %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><label for="user_furigana_family_name">furigana_family_name</label></td>
    <td><%= f.text_field :furigana_family_name, class: "furigana_family_name" %></td>
  <div class="field">
    <td><label for="user_furigana_name">furigana_name</label></td>
    <td><%= f.text_field :furigana_name, class: "furigana_name" %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><label for="postal_code">postal_code</label></td>
    <td><%= f.text_field :postal_code, class: "postal_code" %></td>
  </div>
  </tr>
  <tr>
  <div class="address">
    <td><label for="address">address</label></td>
    <td><%= f.text_field :address, class: "address" %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><label for="phone_number">phone_number</label></td>
    <td><%= f.text_field :phone_number, class: "phone_number" %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><label for="email">email</label></td>
    <td><%= f.text_field :email, class: "email" %></td>
  </div>
  </tr>
    <%= f.fields_for :destinations do |df| %>
    <tr>
      <div class="postal_code">
        <td><label for="postal_code">postal_code</label></td>
        <td><%= df.text_field :postal_code, class: "postal_code" %></td>
      </div>
    </tr>
    <tr>
      <div class="destination">
        <td><label for="destination">destination</label></td>
        <td><%= df.text_field :destination, class: "destination" %></td>
      </div>
    </tr>
      <% if @user.persisted? %>
      <tr>
        <td><%= df.check_box :_destroy %></td>
        <td><%= df.label :_destroy, "削除" %></td>
      </tr>
      <% end %>

    <% end %>
  <tr>
  <div class="actions">
    <td><%= f.submit %></td>
  </div>
  </tr>
</table>
<% end %>
</div>
<div class="col-lg-3"></div>
</div>