<%= form_tag admins_users_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "検索", :name => nil %>
    </p>
<% end %>

<h1>Userのインデックスだよ</h1>

<% @users_search.each do |user| %>
<ul>
  <li>メールアドレス</li>
  <li><%= user.email %></li>
  <li>ユーザーパスワード</li>
  <li><%= user.encrypted_password  %></li>
  <li>苗字</li>
  <li><%= user.name_family_name %></li>
  <li>名前</li>
  <li><%= user.name_name %></li>
  <li>苗字（カナ）</li>
  <li><%= user.furigana_family_name %></li>
  <li>名前（カナ）</li>
  <li><%= user.furigana_name %></li>
  <li>郵便番号</li>
  <li><%= user.postal_code %></li>
  <li>住所</li>
  <li><%= user.address %></li>
  <li>電話番号</li>
  <li><%= user.phone_number %></li>
  <li>ユーザー編集画面</li>
  <li><%= link_to "edit", edit_user_path(user), class: "user_#{user.id}" %></li>
</ul>
<% end %>

<%= paginate @users_search %>

