<h1>ディスクの編集</h1>

<%= nested_form_for [:admins, (@disc)] do |f| %>
  <%= f.fields_for :tunes do |tf| %>
    <%= tf.label "曲名" %><br>
    <%= tf.text_field :title %><br>

    <%= tf.label "アーティスト名" %><br>
    <%= tf.select :artist_id, Artist.all.map {|o| [o.name, o.id]} %><br>

    <%= tf.label "ジャンル名" %><br>
    <%= tf.select :genre_id, Genre.all.map {|o| [o.name, o.id]} %><br>

    <td><%= tf.check_box :_destroy %></td>
    <td><%= tf.label :_destroy, "削除" %></td>
  <% end %>
  <%= f.submit %>
<% end %>
