<h1 style="padding-top: 200px;">購入確定画面</h1>

	<% @price = 0 %>
	<% current_user.carts.each do |cart| %>
		<%= attachment_image_tag cart.product, :image, :fill, 30, 30, format: 'jpeg' %>
		Title：<%= cart.product.title %><br>
		購入枚数：<%= cart.sheet_number %>枚 <br>
		値段：<%= cart.product.price %> 円 <br>

		合計：<%= cart.product.price * cart.sheet_number %>円 <br>
		<% total_price = cart.product.price * cart.sheet_number %>
		<% @price += total_price %>
	<% end %>

		カート内合計金額：<%= @price %>
		<%= form_for (@purchase), url:single_path(user_id: current_user.id,total_price: @price) do |f| %>

		<%= f.select :destination_id, @destinations_array %>
		<%= f.submit "購入する"  %>
		<% end %>
