
<div class="row text-center" style="padding-top: 200px;">
<div class="col-lg-3"></div>
<div class="col-lg-6">
	<div class="row" style="background-color: #ffffff; border: double;">
    <table style="border-collapse: separate; border-spacing: 10px;">
	<% @price = 0 %>
	<% current_user.carts.each do |cart| %>
	<tr>
	  <td>Title：<%= cart.product.title %></td>
	  <td>購入枚数：<%= cart.sheet_number %>枚</td>
	  <td>値段：<%= cart.product.price %> 円</td>
      <td>小計：<%= cart.product.price * cart.sheet_number %>円</td>
    </tr>
	<% total_price = cart.product.price * cart.sheet_number %>
	<% @price += total_price %>
	<% end %>
  </table>
</div>
<div class="row" style="background-color: #ffffff; border: double; margin-top: 30px;" >
	合計<%= @price %>円
    <%= form_for (@purchase), url:last_path(user_id: current_user.id,total_price: @price) do |f| %>

    送付先選択<%= f.select :destination_id, @destinations_array %>

	<%= f.submit "購入する"%>
<% end %>
</div>
</div>
<div class="col-lg-3"></div>
</div>
