<h2>カートページ</h2>


<% current_user.carts.each do |cart| %>
<%= cart.product.title %>
<%= cart.sheet_number %>
<%= cart.product.price %> 円






<%= link_to'カートから出す',cart_path(cart.id), method: :delete, "data-confirm" => "本当にカートから出しますか？" %>


<% end %>


<%= link_to '購入画面へ', ccc_path %>

<%= link_to "お買い物を続ける", products_path %>
お問い合わせ
