<div class="row text-center" style="padding-top: 150px;padding-bottom: 150px;">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
  	<h2>カート</h2>
    <% if @carts.present? %>
  	<%@carts.each do |cart| %>
      <div class="row" style="background-color: #ffffff; height: 200px; border: double; margin-top: 60px;">
        <div class="col-lg-4" style="height: 100%;">
          <%= attachment_image_tag cart.product, :image, format: 'jpeg', fallback: "no_image.jpg", style: "height: 100%;" %>
        </div>
        <div class="col-lg-8" style="height: 100%;">
          <table class="table" style="margin-top: 40px;">
            <tbody>
              <tr>
                <td><%= cart.product.title %></td>
                    <% a = [] %>
                    <% cart.product.discs.each do |disc| %>
                      <% disc.tunes.each do |tune| %>
                        <% a.push(tune.artist.name) %>
                      <% end %>
                    <% end %>
                <td><%= a.max_by { |v| a.count(v)} %></td>
              </tr>
              <tr>
                <td><%= cart.product.price %>円</td>
                <td><% s = cart.product.stock_count %>
                    <% if s == 0 %>
                      売り切れ
                    <% elsif s >= 1 && s <= 10 %>
                      在庫残りわずか
                    <% else s >= 11 %>
                      在庫有り
                    <% end %>
                    <%= s %></td>
              </tr>
            </tbody>
          </table>
            <%= form_for(cart) do |f| %>
              <%= f.label :枚数 %>
              <%= f.number_field :sheet_number, class:"number-field", :min => "1", :max => "99" %>
              <%= f.submit "更新する" %>
              <%= link_to'カートから出す',cart_path(cart.id), method: :delete, "data-confirm" => "本当にカートから出しますか？" %>
            <% end %>
        </div>
      </div>
    <% end %>
    <div class="info-box" style="background-color: #ffffff;">
    <%= link_to '購入ページへ', ccc_path, class:"purchase-button" %>
    <% else %>
    <p>カートは空です。</p>
    <h1>なんか買ってね！！！</h1>
    <% end %>
    <%= link_to "お買い物を続ける", products_path, class:"back-button" %>
  </div>
 <!--  <%= paginate @carts, class: "pagenate" %> -->
  </div>
  <div class="col-lg-3"></div>
</div>

