<h1>Labels#edit</h1>

<% if flash[:notice] %>
  <div class="flash" style="color: green;">
    <%= flash[:notice] %>
  </div>
<% end %>

<h3><%= form_for [:admins, @label] do |f| %></h3>

<% if @label.errors.any? %>
  <h2><%= @label.errors.count %>件のエラーが発生しました</h2>
  <ul>
    <% @label.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= f.text_field :name %>
<%= f.submit '保存' %>
<%end%>

<h3><%= link_to '戻る', admins_label_path(@label.id) %></h3>
