<h1>Labels#index</h1>

<%= form_tag admins_labels_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "検索", :name => nil %>
    </p>
<% end %>

<% @labels_search.each do |f| %>
<%= link_to f.name, admins_label_path(f.id) %>
<%end%>

<h3><%= link_to "登録ページ", new_admins_label_path %></h3>

<%= paginate @labels_search %>
