
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <h1 class="h1">ステータスの編集</h1>

      <thead>
        <tr>
          <th>購入者id</th>
          <th>購入者　苗字</th>
          <th>購入者　名前</th>
          <th>苗字(カナ)</th>
          <th>名前(カナ)</th>
          <th>合計金額</th>
          <th>ステータス</th>
        </tr>

        <tr>
          <td><%= @purchase.id %></td>
          <td><%= @purchase.user.name_family_name %></td>
          <td><%= @purchase.user.name_name %></td>
          <td><%= @purchase.user.furigana_family_name %></td>
          <td><%= @purchase.user.furigana_name %></td>
          <td><%= @purchase.total_price %></td>
          <td>
            <%= form_for [:admins, @purchase] do |f| %>
            <%= f.select :status, Purchase.statuses.keys.to_a, {} %>
            <%= f.submit '登録' %>
            <%end%>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>

