<div class="container">
  <div class="table-responsive">
    <table class="table">
      <h1 class="h1">購入履歴詳細</h1>

      <thead>
        <tr>
          <th>購入者id</th>
          <th>購入者　苗字</th>
          <th>購入者　名前</th>
          <th>苗字(カナ)</th>
          <th>名前(カナ)</th>
          <th>合計金額</th>
          <th>ステータス</th>
          <th>戻る</th>
        </tr>

        <tr>
          <td><%= @purchase.id %></td>
          <td><%= @purchase.user.name_family_name %></td>
          <td><%= @purchase.user.name_name %></td>
          <td><%= @purchase.user.furigana_family_name %></td>
          <td><%= @purchase.user.furigana_name %></td>
          <td><%= @purchase.total_price %></td>
          <td><%= @purchase.status %></td>
          <td><%= link_to "edit", edit_admins_purchase_path(@purchase.id) %></td>
        </tr>
      </thead>
    </table>
  </div>
</div>
