<h1>商品の編集ページ</h1>

<%= form_for [:admins, @product] do |f| %>

  <%= f.label "商品画像" %><br>
  <%= f.attachment_field :image %><br>

  <%= f.label "商品タイトル" %><br>
  <%= f.text_field :title %><br>

  <%= f.label "レーベル名" %><br>
  <%= f.select :label_id, Label.all.map {|o| [o.name, o.id]} %><br>

  <%= f.label "値段" %><br>
  <%= f.number_field :price, min:0 %><br>

  <%= f.label "リリース日" %><br>
  <%= f.date_field :release_date %><br>

  <%= f.label "在庫数" %><br>
  <%= f.number_field :stock_count, min:0 %><br>

  <%= f.submit '登録' %>

<% end %>

<h2>収録ディスク内容の編集</h2>
<% if flash[:notice] %>
  <div class="flash" style="color: green;">
    <%= flash[:notice] %>
  </div>
<% end %>
<% @product.discs.each do |a| %>
  <%= link_to "Disc_id#{a.id}", edit_admins_disc_path(a.id), class: "aaa"  %><br>
<% end %>
