<h1>Admins::Products#new</h1>

<%= form_for [:admins, @product] do |f| %>

  <%= f.label "商品画像" %><br>
  <%= f.attachment_field :image %><br>

  <%= f.label "商品タイトル" %><br>
  <%= f.text_field :title %><br>

  <%= f.label "レーベル名" %><br>
  <%= f.select :label_id, Label.all.map {|o| [o.name, o.id]} %><br>

  <%= f.label "値段" %><br>
  <%= f.text_field :price %><br>

  <%= f.label "リリース日" %><br>
  <%= f.date_field :release_date %><br>

  <%= f.label "在庫数" %><br>
  <%= f.number_field :stock_count %><br>

  <%= f.label "収容Disc枚数" %><br>
  <%= f.number_field :disc_count %><br>

  <%= f.submit '登録' %>

<% end %>
