<div class="container">
  <div class="table-responsive">
    <table class="table">
      <h1 class="h1">商品詳細</h1>
      <thead>
        <tr>
          <th>ジャケ</th>
          <th>商品名</th>
          <th>収容Disc数</th>
          <th>レーベル名</th>
          <th>リリース日</th>
          <th>値段</th>
          <th>在庫数</th>
          <th></th>
        </tr>

        <tr>
          <td><%= attachment_image_tag @product, :image, :fill, 50, 50, format: 'jpeg', class: "attachment", fallback: "no_image.jpg" %></td>
          <td><%= @product.title %></td>
          <td><%= @product.disc_count %></td>
          <td><%= @product.label_id %></td>
          <td><%= @product.release_date %></td>
          <td><%= @product.price %></td>
          <td><%= @product.stock_count %></td>
          <td><%= link_to "編集", edit_admins_product_path(@product) %></td>
        </tr>
      </thead>
    </table>
  </div>
</div>