<div class="top-image-box">
<% r = 0 %>
<% a = (1..10).to_a.sample(10) %>

<% @product.last(10).each do |product| %>
<div class="image-box<%= a[r] %>" style="display: none;">
  <%= link_to product_path(product.id) do %>
    <%= attachment_image_tag product, :image, format:'jpeg', style:"height: 100%; width: 100%;" %>
  <% end %>
  </div>
  <script>
  	$(function(){
  		$('.image-box<%= a[r] %>').fadeIn(<%= a[r] %> * 1500);
  	});
  </script>
<% r += 1 %>
<% end %>
</div>
