<% url = request.url %>
<% if !url.include?("search") %>
<%= render 'products/top' %>
<% end %>
<div class="row" style="padding-top: 150px">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if @products.empty? %>
<h2 class="text-center" style="color: white;">一致する商品がありません！</h2>
<% else %>
<% @products.each do |product| %>
<div class="row" style="background-color: #ffffff; height: 200px; border: double; margin-top: 60px;">
  <div class="col-lg-4" style="height: 100%;">
<%= link_to product_path(product.id) do %>

	  <%= attachment_image_tag product, :image, format:'jpeg', fallback: "no_image.jpg", style: "height: 100%;", class:"product-image" %>
  <% end %>
</div>
    <div class="col-lg-8">
      <table class="table" style="margin-top: 40px;">
        <tbody>
          <tr>
            <td><%= link_to product.title, product_path(product.id) %></td>
                <% a = [] %>
                <% product.discs.each do |disc| %>
                  <% disc.tunes.each do |tune| %>
                    <% a.push(tune.artist.name) %>
                  <% end %>
                <% end %>
            <td><%= a.max_by { |v| a.count(v)} %></td>
          </tr>
          <tr>
            <td><%= product.price %>円</td>
            <td><% s = product.stock_count %>
                  <% if s == 0 %>
                    売り切れ
                  <% elsif s >= 1 && s <= 10 %>
                    在庫残りわずか
                  <% else s >= 11 %>
                    在庫有り
                  <% end %>
                  <%= s %></td>
          </tr>
        </tbody>
      </table>
        <% if user_signed_in? %>
          <%= form_for (@cart),url: sss_path(product_id: product) do |f| %>
          <%= f.label :枚数 %>
          <%= f.number_field :sheet_number, class:"number-field", :min => "1", :max => "99" %>
          <%= f.submit("カート追加") %>
          <% end %>
        <% end %>
    </div>
  </div>
  <% end %>
 <% end %>
 <div class="text-center"><%= paginate @products, class: "pagenate" %></div>
  <div class="col-lg-3"></div>
  </div>