<div class="row" style="padding-top: 150px;padding-bottom: 150px;">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
        <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
        <% end %>
    <div class="row" style="background-color: #ffffff; height:200px; border: double;">
      <div class="col-lg-4" style="height: 100%;">
        <%= attachment_image_tag @product, :image, format: 'jpeg', style: "height: 100%;"%>
      </div>

      <div class="col-lg-8">
        <table class="table" style="margin-top: 40px;">
        <tbody>
          <tr>
          <td><%= @product.title %></td>
              <% a = [] %>
              <% @product.discs.each do |disc| %>
                <% disc.tunes.each do |tune| %>
                  <% a.push(tune.artist.name) %>
                <% end %>
              <% end %>
              <td><%= a.max_by { |v| a.count(v)} %></td>
          </tr>
          <tr>
          <td><%= @product.price %>円</td>
          <td><% s = @product.stock_count %>
              <% if s == 0 %>
                在庫無し
              <% elsif s >= 1 && s <= 10 %>
                在庫わずか
              <% else s >= 11 %>
                在庫有り
              <% end %>
              <%= s %></td>
          </tr>
          <tr>
              <% if user_signed_in? %>
              <%= form_for (@cart),url: sss_path(product_id: @product) do |f| %>
          <td><%= f.label :枚数 %>
              <%= f.number_field :sheet_number, class:"number-field", :min => "1", :max => "99" %></td>
          <td><%= f.submit("カート追加") %></td>
              <% end %>
              <% end %>
        </tr></tbody>
        </table>
  </div>
</div>

    <% b = 1 %>
    <% @product.discs.each do |disc| %>
    <div class="show-tune-box">
    disc<%= b %>
    <table>
      <tr>
      	<th style="padding-left: 10px">曲順</th>
	    <th style="padding-left: 20px">曲名</th>
	    <th style="padding-left: 30px">アーティスト名</th>
      </tr>
      <% c = 1 %>
      <% disc.tunes.each do |tune| %>
      <tr>
      	<td style="padding-left: 10px"><%= c %></td>
	    <td style="padding-left: 20px"><%= tune.title %></td>
        <td style="padding-left: 30px"><%= tune.artist.name %></td>
      </tr>
      <% c += 1 %>
      <% end %>
    </table>
    <% b += 1 %>
    </div>
    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>






