<!DOCTYPE html>
<html>
  <head>
    <title>BaRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/admins.scss">
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class='nav navbar-nav navbar-left' >
          <span class = "main-logo"><%= link_to "婆ーレコード", admins_path %></span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
              <li><%= link_to " logout", destroy_admin_session_path, class: "glyphicon glyphicon-log-out logout", method: :delete %></li>
            <% else %>
              <li><%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class='body'>
      <div class='container'>
        <%= yield %>
      <div>
    </div>
  </body>
</html>
